WHATSAPP_ACCESS_TOKEN=PASTE_PERMANENT_TOKEN_HERE
WHATSAPP_PHONE_NUMBER_ID=1224925050698704
WHATSAPP_BUSINESS_ACCOUNT_ID=2867257227174930
WHATSAPP_VERIFY_TOKEN=abhigna_webhook_verify_123

WHATSAPP_TEMPLATE_NAME=enquiry_start_flow
WHATSAPP_TEMPLATE_LANG=en

BROCHURE_URL=https://cdn.sthyra.com/AADHYA%20SERENE/Aadhya%20Serene%20BROCHURE%20FOR%20PRINTING.pdf
APP_LINK=https://abhignaconstructions.com/
PROJECT_NAME=Abhigna Constructions
